.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.users-table {
  width: 90%;
  margin-top: 80px;
}

.users-table .ant-table,
.users-table .ant-table-cell,
.users-table .ant-pagination {
  background-color: #23323299 !important;
  color: white !important;
}

.users-table .ant-table-cell:hover {
  background-color: #7b8484 !important;
  color: white !important;
}

.users-table .ant-pagination {
  margin: 0px !important;
  padding: 16px 0px !important;
  border-top: 1px solid #ffffff24;
  display: flex;
  justify-content: center;
}

.users-table .ant-pagination li button {
  color: white !important;
}

.users-table .ant-pagination .ant-pagination-item-active {
  background-color: #465353 !important;
  border-color: #465353 !important;
}

.users-table .ant-pagination .ant-pagination-item-active:hover {
  border-color: #465353 !important;
}

.users-table .ant-pagination .ant-pagination-item-active a {
  color: white !important;
}

.users-table .title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users-table .ant-table-title {
  padding-bottom: 0px !important;
}

.users-table .ant-table-thead tr th:last-child {
  text-align: center;
}

.ant-table-title {
  text-align: right;
}

.common-btn-wrapper {
  display: flex;
  justify-content: space-around;
}

.common-btn-wrapper button {
  width: 45% !important;
  height: 45px;
}

.common-btn-wrapper button:hover {
  background-color: #ffffff33;
}

.user-from {
  margin: 30px 0px;
}
